
  
  $extra-light:  #f8f8f8;
  $light:  #e1e1e1;
  $medium-light:  #b1b1b1;
  $medium-dark:  #888888;
  $dark:  #474747;

  
  p{
    margin: 0.4em 0;
    font-family: 'GothamBook';
    color:$dark;

}
  
  .banner{
    background-image: url('https://images.unsplash.com/photo-1507666405895-422eee7d517f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-size:cover;
    height:60vh;
    display: flex;
    align-items: center;
    padding-left:15%;
    
    div{
        max-width: 600px;
    }
  
    input{
        border-radius:0.3em;
        border: 1px $medium-light solid;
        height: 3em;
    }
  }
  
  
  

  
  @media(min-width: 1200px){
    .benefit1{
      margin-right: 400px;
      margin-left: 100px;
    }
    .benefit4{
      position: relative;
      left: 255px;
    }
    .whyUs{
      background-image: url('../line.jpg');
      background-size: cover;
      background-position: center;
    }
    .why-us-short{

      margin-top: 9em;
      margin-left: 18%;
      margin-bottom: 8.3em;
      h3{
        font-size: 2em;
        line-height: 1.37em;
      }
    }
    
    .updates-short{
      text-align: center;
      p{
        color: #33ac5d;
      }
  
      h3{
        font-size: 2em;
        line-height: 1.37em;
        letter-spacing:-1.5px;
  
      }
    }
  }
  
  

  