  $extra-light:  #f8f8f8;
  $light:  #e1e1e1;
  $medium-light:  #b1b1b1;
  $medium-dark:  #888888;
  $dark:  #474747;

  
  p{
    margin: 0.4em 0;
    color:$dark;
}
  
  .banner{
    background-image: url('https://images.unsplash.com/photo-1525421106960-29ebe9f93dab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-size:cover;
    background-position: left center;
    background-color: rgb(79, 148, 79);
    height:60vh;
    display: flex;
    align-items: center;
    padding-left:7.5%;
    padding-right:7.5%;
    margin-bottom: 2em;
    h1{
      color:white;
      font-weight: 800;
      margin-bottom:0.5em;
      font-size: 1.5rem;
    }
    
    div{
        max-width: 400px;
    }
  
    input{
        border-radius:0.3em;
        border: 1px $medium-light solid;
        height: 3em;
    }

  }
  .btn{
    display:flex;
    justify-content: center;
  }
  
  .show-more-btn{
    
    background-color: #cc7351;
    border:none;
    padding: 0.3em 0.8em;
    border-radius: 0.3em;
    color:white;
    font-weight:500;
    font-size:1.0rem;
    letter-spacing:1px; 
    margin:2.6em 0;
  }
  

@media(min-width: 800px){
  .banner h1{
    font-size: 2.5rem;
  }
} 

  